html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

#reset-btn, .btnx{
  padding: 10px 30px;
  border: 0;
  outline: 0;
}

.logo{
  text-align: center;
  background-color: rgb(49, 109, 179);
  color: white;
  padding: 0.5em;
}

#character-bar {
  height: 15vh;
  background: rgb(49, 109, 179);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  transition: .5s;
}
#character-bar span:hover{
  transform: translateY(-10px);
  /* transform: scale(0.9); */
}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  border: dotted;
  text-align: center;
}

input[type="submit"], button {
  background-color: rgb(49, 109, 179);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  font-size: 3vh;
}

#image{
  width: 300px;
  height: 300px;
}
